html {
	background-image: url("../Photos/Paisley-2.jpg");
	padding: 45px;
}

body {
	background-color: #C0C0C0;
	max-width: 900px;
	margin: 125px auto 0px auto;
	padding: 25px;
	border-radius: 25px;
	text-align: center;
	font-family: "Helvetica", sans-serif;
}

img {
	width: 100%;
	margin: 0px auto;
}

ul {
	list-style-type: square;
	text-align: left;
	margin: 20px 0px;
}

li {
	margin: 20px 0px;
}

ul.sub {
	list-style-type: circle;
}

em#author {
	font-family: "Yellowtail" , cursive;
	font-size: 1.4em;
	font-style: normal;
}

em#poirot {
	font-family: 'BenchNine', sans-serif;
	font-size: 1.4em;
	font-style: oblique;
	text-transform: uppercase;
}

.title {
	font-family: "Pattaya" , cursive;
}

li strong {
	font-family: "Tangerine", cursive;
	font-size: 2em;
	padding-right: 5px;
}

strong.chars {
	font-family: "Helvetica" , sans-serif;
	font-size: 1.2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

/* ========LINKS START======== */

a:visited {
	color: hotpink;
}

a:hover {
	color: purple;
}

a:link {
	text-decoration: none;
}

/* ========NAV START======== */

.nav {
 	position: fixed;
 	top: 0px;
 	right: 0px;
 	text-align: center;
 	width: 100%;
 	background-color: #C0C0C0;
 	border-bottom: 2px solid black;
 	padding: 0px;
 	display: inline;
}

.nav h1, .home {
	font-size: 1.6em;
	font-family: 'Pattaya', sans-serif;
}

.nav a:nth-child(1), .nav a:nth-child(2), .nav a:nth-child(3), .nav a:nth-child(4), .nav a:nth-child(5) {
	padding: 5px 10px;
	border-right: 2px solid black;
}

#borderimg {
	display: inline-block;
	text-decoration: none;
	border: 5px solid transparent;
	padding: 10px 5px 15px 5px;
	border-image: url(../Photos/Border-1.png);
	border-image-slice: 50% 50%;
	border-image-width: 100%
}

.firstlink {
	border-left: 2px solid black;
	padding-left: 10px;
}

/* ========NAV END======== */
/* ========TABLE START======== */

table {
	margin: 0px auto;
	width: 75%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	text-align: center;
}

tr:hover, tr:hover th {
	background-color: #fff;
}

th {
	background-color: #aaa;
}

/* ========TABLE END======== */

p {
	text-align: left;
}

footer p {
	display: inline-block;
	vertical-align: top;
	padding: 0 5% 0 5%;
}

cite {
	display: block;
	margin: 5pt 0pt 45pt 0pt;
}


p.home {
	font-size: 4ex;
	margin-top: 30px;
	text-align: center;
}

p#successhome {
	font-size: 3ex;
	margin-top: 30px;
	margin-bottom: 0px;
	text-align: center;
}

/* ========FORM START======== */

input {
	width: 50%;
	padding: 12px;
	display: inline-block;
	vertical-align: middle;
}

select {
	width: 50%;
	padding: 16px 20px;
	border-radius: 4px;
	border: 1px solid black;
	display: inline-block;
	vertical-align: middle;
}

textarea {
	resize: none;
	width: 75%;
	display: block;
	vertical-align: middle; 
	margin: 0 auto;
}

label {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	text-align: right;
	font-weight: bold;
}

label#addy {
	text-align: center;
}

fieldset div {
	padding: 5px;
}

input:focus, textarea:focus {
	background-color: lightblue;
}

button {
    background-color: #4CAF50;
    vertical-align: top;
    display: inline-block;
    width: 35%;
    min-width: 150px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 5px 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2ex; 
}

/* ========FORM END======== */
/* ========SCREEN BREAKS======== */


@media screen and (min-width: 795px) {
	#main-img {
		width: 640px;
		margin: 0 auto;
	}
}

/* =FORM BUTTONS and NAV= */
@media screen and (max-width: 940px) {
	button {
		display: block;
		width: 85%;
		margin: 5px auto;
	}
}

/* =LABELS= */

@media screen and (max-width: 600px) {
	input {
		width: 80%;
		margin: 5px auto 10px auto;
		display: block;
		vertical-align: middle;
		margin: 0px auto;	
	}

	select {
		width: 80%;
		padding: 16px 20px;
		border-radius: 4px;
		border: 1px solid black;
		display: block;
		vertical-align: middle;
		margin: 0px auto;
	}

	label {
		display: block;
		vertical-align: middle;
		width: 80%;
		text-align: center;
		font-weight: bold;
		margin: 0px auto;
	}
}

/* =FOOTER= */

@media screen and (max-width: 650px) {
	footer p {
		display: block;
		vertical-align: middle;
		margin: 5px auto;
		width: 90%;	
		}

	footer a {
		display: block;
		vertical-align: middle;
		margin: 5px auto;
		width: 90%;
	}
}